{% extends 'base.html' %}
{% block title %}Nieuwe boeking{% endblock %}
{% block content %}
<h2>Nieuwe boeking</h2>

{% if me %}
  <p class="muted">Ingelogd als:
    <span class="badge" style="background: {{ me.color }};">{{ me.display_name }}</span>
  </p>
{% endif %}

<form method="post" class="form">
  <label>Ruimte
    <select name="room" required>
      {% for r in rooms %}
        <option value="{{ r }}">{{ r }}</option>
      {% endfor %}
    </select>
  </label>

  <label>Titel
    <input type="text" name="title" placeholder="Titel" required>
  </label>

  <label>Naam Boeker (niet patiënt!!)
  <input type="text" name="who" placeholder="Naam van aanvrager">
</label>

 <label>Datum
  <input type="date" name="date" value="{{ default_start.strftime('%Y-%m-%d') }}" required>
</label>

<label>Starttijd
  <input type="time" name="start_time" value="{{ default_start.strftime('%H:%M') }}" required>
</label>

<label>Eindtijd
  <input type="time" name="end_time" value="{{ default_end.strftime('%H:%M') }}" required>
</label>

<hr>

<h4>Herhaling (optioneel)</h4>
<div class="recurring">
  <label><input type="checkbox" name="repeat_days" value="0"> Maandag</label>
  <label><input type="checkbox" name="repeat_days" value="1"> Dinsdag</label>
  <label><input type="checkbox" name="repeat_days" value="2"> Woensdag</label>
  <label><input type="checkbox" name="repeat_days" value="3"> Donderdag</label>
  <label><input type="checkbox" name="repeat_days" value="4"> Vrijdag</label>
  <label><input type="checkbox" name="repeat_days" value="5"> Zaterdag</label>
  <label><input type="checkbox" name="repeat_days" value="6"> Zondag</label>
</div>

<div id="repeat-end-container" style="display:none; margin-top: 1em;">
  <label>Einddatum van herhaling
    <input type="date" name="repeat_end">
  </label>
</div>

<script>
  const boxes = document.querySelectorAll('input[name="repeat_days"]');
  const endContainer = document.getElementById('repeat-end-container');

  boxes.forEach(box => {
    box.addEventListener('change', () => {
      const anyChecked = Array.from(boxes).some(b => b.checked);
      endContainer.style.display = anyChecked ? 'block' : 'none';
    });
  });
</script>


  <div class="actions">
    <button class="btn" type="submit">Opslaan</button>
    <a class="link" href="{{ url_for('index') }}">Annuleren</a>
  </div>
</form>
{% endblock %}
